h1 {
  font-size: 15vh;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
  font-family: Againts;
}

h2 {
  text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
  font-family: AdamCG;
}

a {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
  font-family: AdamCG;
}

a:hover, a:visited  {
  color: #ffc600;
}

/* Custom fonts */
@font-face {
  font-family: AdamCG;
  src: url('adam.cg_pro-webfont.woff2');
}

@font-face {
  font-family: Againts;
  src: url('againts-webfont.woff2');
}

body {
  background: #6441A5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #6441A5 , #2a0845); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #6441A5 , #2a0845); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}
